.green {
    border: solid green;
}
.blue {
    border: solid blue;
}
.red {
    border: solid red;
}
.App{
    height: 500px;
    width: 100%;
    background-image: url("https://ak4.picdn.net/shutterstock/videos/31206454/thumb/1.jpg")
}
.Rating {
    grid-row: 2;
    grid-column: 3;
}
#input2{
    width: 100%;
}
#input1{
    width: 93%;
}

.App {
    display: grid;
    grid-template-columns: 300px 250px ;
    grid-template-rows: auto auto;
}
.WrittenNotes {
    grid-row: 1;
    grid-column: 1;
}
.Icons {
    grid-row: 1;
    grid-column: 2;
}

.nameAndNote {
    grid-row: 2;
    grid-column: 2;
    width: 100%;
}
#Icon1{
    width: 33%;
}
#Icon2{
    width: 33%;
}
#Icon3{
    width: 33%;
}
#input2{
    grid-row: 3;
    grid-column: 2;
}
.form-group {
    position: relative;
    padding-top: 1.5rem;
}
button{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 4px;
}
button:hover {
    background-color: black ;
    color: white;
}

#label {
    position: absolute;
    top: 0;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
    margin-left: 5px;
}

#input1:placeholder-shown + #label {
    opacity: 0;
    transform: translateY(1rem);
}
span {
    font-weight: bold;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip1 {
    position: relative;
    display: inline-block;
}
.tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip1 .tooltiptext1::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip1:hover .tooltiptext1 {
    visibility: visible;
}
.tooltip2 {
    position: relative;
    display: inline-block;
}
.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip2 .tooltiptext2::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}
