/*.form1{
    display: inline-block;
    float: right;
    margin: 5px;
}*/
/*
input#check {
    position: absolute;
    opacity: 0;
}
input#check:checked + label svg path {
    stroke-dashoffset: 0;
}
input#check:focus + label {
    transform: scale(1.03);
}

#check + label {
    display: inline-block;
    border: 2px solid #333;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}
#check + label:active {
    transform: scale(1.05);
    border-radius: 10px;
}
#check + label svg {
    pointer-events: none;
}
#check + label svg path {
    fill: none;
    stroke: #333;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 100;
    stroke-dashoffset: 101;
    transition: all 350ms cubic-bezier(1, 0, 0.37, 0.91);
}
*/
#check {
    display: inline-block;
    float: right;
    margin-right: 10px;
    border: 2px solid #333;

}


.missing{
    border: solid red;
}

* {
    outline:none;
    border:none;
    margin:0px;
    padding:0px;
    font-family:Courier, monospace;
}
body {
    background:#333 url(https://static.tumblr.com/maopbtg/a5emgtoju/inflicted.png) repeat;
}
#paper {
    color:#FFF;
    font-size:20px;
}
#margin {
    margin-left:12px;
    margin-bottom:20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#text {

    width:500px;
    overflow:hidden;
    background-color:#FFF;
    color:#222;
    font-family:Courier, monospace;
    font-weight:normal;
    font-size:24px;
    resize:none;
    line-height:40px;
    padding-left:100px;
    padding-right:100px;
    padding-top:45px;
    padding-bottom:34px;
    background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
    background-repeat:repeat-y, repeat;
    -webkit-border-radius:12px;
    border-radius:12px;
    -webkit-box-shadow: 0px 2px 14px #000;
    box-shadow: 0px 2px 14px #000;
    border-top:1px solid #FFF;
    border-bottom:1px solid #FFF;
}
#title {
    background-color:transparent;
    border-bottom:3px solid #FFF;
    color:#FFF;
    font-size:20px;
    font-family:Courier, monospace;
    height:28px;
    font-weight:bold;
    width:220px;
}
#button {
    cursor:pointer;
    margin-top:20px;
    float: right;
    height:40px;
    padding-left:24px;
    padding-right:24px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 20px;
    color:black;
    text-shadow: 0px -1px 0px #000000;
    -webkit-border-radius: 8px;
    border-radius:8px;
    border-top:1px solid #FFF;
    -webkit-box-shadow: 0px 2px 14px #000;
    box-shadow: 0px 2px 14px #000;
    background-color: whitesmoke;
    /*background-image:url(https://static.tumblr.com/maopbtg/ZHLmgtok7/button.png);*/
    background-repeat:repeat-x;
    outline: none;
    margin-right: 15px;
}
#button::-moz-focus-inner {
    border: 0;
}
/*#button:active {
    zoom: 1;
    filter: alpha(opacity=80);
    opacity: 0.8;
}
#button:focus {
    zoom: 1;
    filter: alpha(opacity=80);
    opacity: 0.8;
}*/
#wrapper {
    width:700px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:24px;
    margin-bottom:100px;
}
#allNotes{
    background: whitesmoke;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}
#justNotes{
    font-size: 25px;
    margin-left: 10px;
}
#justTime{
    margin-left: 10px;
}


.none{
    border: solid ;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 30px;
    float: left;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 10px;
}

.greenButton {
    border: solid green;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 30px;
    float: left;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 10px;
    outline: none;
}
.greenButton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.blueButton {
    border: solid blue;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 30px;
    float: left;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    outline: none;
}
.blueButton:hover {
    background-color: blue;
    color: white;
}
.redButton {
    border: solid red;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 30px;
    float: left;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    outline: none;
}
.redButton:hover {
    background-color: red; /* Green */
    color: white;
}

.red {
    border: solid red;
}
.green {
    border: solid green;
}
.blue {
    border: solid blue;
}


.App{
    height: 500px;
    width: 100%;
    /*background-image: url("https://ak4.picdn.net/shutterstock/videos/31206454/thumb/1.jpg")*/
}
.Rating {
    grid-row: 2;
    grid-column: 3;
}
/*#input2{
    width: 100%;
}
#input1{
    width: 93%;
}*/

.App {
    display: grid;
    grid-template-columns: 300px 250px ;
    grid-template-rows: auto auto;
}
.WrittenNotes {
    grid-column: 1;
}
.Icons {
    margin-top: 5px;
    margin-left: 15px;
    grid-row: 1;
    grid-column: 2;
}

.nameAndNote {
    margin-left: 15px;
    margin-top: 25px;
    grid-row: 1;
    grid-column: 2;
    width: 100%;
}
#Icon1{
    width: 30%;
    margin-left: 5px;
    margin-top: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    outline: none;

}
#Icon2{
    width: 30%;
    margin-left: 5px;
    margin-top: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    outline: none;
}
#Icon3{
    width: 30%;
    margin-left: 5px;
    margin-top: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    outline: none;
}
#Icon3::-moz-focus-inner {
    border: 0;
}
#Icon2::-moz-focus-inner {
    border: 0;
}
#Icon1::-moz-focus-inner {
    border: 0;
}
/*#input2{
    grid-row: 3;
    grid-column: 2;
}*/
.form-group {
    position: relative;
    padding-top: 1.5rem;
}
button{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 4px;
}
button:hover {
    background-color: black ;
    color: white;
}

#label {
    position: absolute;
    top: 0;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
    margin-left: 5px;
}

#input1:placeholder-shown + #label {
    opacity: 0;
    transform: translateY(1rem);
}
span {
    font-weight: bold;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip1 {
    position: relative;
    display: inline-block;
}
.tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip1 .tooltiptext1::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip1:hover .tooltiptext1 {
    visibility: visible;
}
.tooltip2 {
    position: relative;
    display: inline-block;
}
.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip2 .tooltiptext2::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}
